<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/application.css">
  <title>Purchases | Rad Tech</title>
</head>
<body>
  <%= yield %>
</body>
</html>
