*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: Source Sans Pro, sans-serif;
  font-style: normal;
}

.page-title {
  color: #272833;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.75rem;
  letter-spacing: 0.02188rem;
  margin: 1.375rem 0.9375rem 1.25rem 0.9375rem;
}

.purchases-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  justify-content: flex-start;
  margin: 0.75rem 0;
  padding: 0 1rem;
}

.purchase-card {
  border: 1px solid #cdced9;
  border-radius: 0.625rem;
  padding: 1rem 1.5rem;
  width: 100%;
}

.purchase-location {
  height: 1.875rem;
  width: 1.875rem;
}

.purchase-name {
  color: #232326;
  font-size: 1rem;
  font-weight: 700;
  line-height: 150%;
}

.purchase-price {
  color: #232326;
  text-align: right;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: -0.015rem;
}

.purchase-description {
  color: #272833;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%;
}

.purchase-date-title {
  color: #272833;
  font-size: 1rem;
  font-weight: 600;
  line-height: 150%;
}

.purchase-date {
  color: #232326;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: -0.015rem;
}

.purchase-category {
  display: none;
}

@media (min-width: 768px) {
  .page-title {
    color: #16145a;
    font-family: Source Sans Pro;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
  }
}
