*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: Source Sans Pro, sans-serif;
  font-style: normal;
}

.page-title {
  color: #272833;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.75rem;
  letter-spacing: 0.02188rem;
  margin: 1.375rem 0.9375rem 1.25rem 0.9375rem;
}

.purchases-table-body {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  justify-content: flex-start;
  margin: 0.75rem 0;
  padding: 0 1rem;
}

.purchase-card {
  border: 1px solid #cdced9;
  border-radius: 0.625rem;
  display: grid;
  grid-template-areas:
    "location name price"
    "description description empty"
    "purchaseDate purchaseDate empty";
  grid-template-columns: 1.875rem 1fr 4.5625rem;
  padding: 1rem 1.5rem;
  width: 100%;
}

.purchase-location img {
  align-self: center;
  grid-area: location;
  height: 1.875rem;
  width: 1.875rem;
}

.purchase-name {
  align-self: center;
  color: #232326;
  font-size: 1rem;
  font-weight: 700;
  grid-area: name;
  line-height: 150%;
  margin: 0;
  padding: 0 0.625rem;
}

.purchase-price {
  align-self: center;
  color: #232326;
  font-size: 1.125rem;
  font-weight: 700;
  grid-area: price;
  line-height: 1.25rem;
  letter-spacing: -0.015rem;
  margin: 0;
  text-align: right;
}

.purchase-description {
  color: #272833;
  font-size: 0.875rem;
  font-weight: 400;
  grid-area: description;
  line-height: 150%;
  margin: 0.5rem 0 1.25rem;
}

.purchase-date {
  grid-area: purchaseDate;
}

.purchase-date-title {
  color: #272833;
  font-size: 1rem;
  font-weight: 600;
  line-height: 150%;
  margin: 0;
}

.purchase-date-value {
  color: #232326;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: -0.015rem;
  margin: 0;
}

.purchase-category {
  display: none;
}

.purchases-table-header {
  display: none;
}

@media (min-width: 768px) {
  .page-title {
    color: #16145a;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 125%;
  }

  .purchases-container {
    display: table;
    width: calc(100% - 1.875rem);
    border-collapse: collapse;
    border: 1px solid #e7e7ed;
    margin: auto;
  }

  .purchases-table-header {
    box-shadow: 0px -1px 0px 0px #e7e7ed inset;
    display: table-header-group;
  }

  .purchases-table-body {
    display: table-row-group;
    padding: 0;
    margin: 0;
  }

  .purchase-card {
    border: none;
    display: table-row;
    height: 8.125rem;
    padding: 0;
  }

  .purchase-location,
  .purchase-name,
  .purchase-price,
  .purchase-category,
  .purchase-description,
  .purchase-date {
    display: table-cell;
    vertical-align: middle;
    padding: 0.625rem 0.9375rem;
  }

  .purchase-table-th {
    color: #272833;
    display: table-cell;
    font-size: 1rem;
    font-weight: 600;
    line-height: 150%;
    padding: 0.625rem 0.9375rem;
  }

  .purchase-col-location {
    width: 8.5rem;
  }

  .purchase-name {
    color: #272833;
    font-size: 1rem;
    font-weight: 700;
    line-height: 150%;
  }

  .purchase-price {
    color: #272833;
    font-size: 1rem;
    font-weight: 700;
    line-height: 150%;
  }

  .purchase-date {
    width: 10.1875rem;
  }

  .purchase-date-title {
    display: none;
  }

  .purchase-description,
  .purchase-date-value {
    color: #272833;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 150%;
  }
}
